@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}



header {
    width: 100%;
    top: 0;
    left: 0;
    
    padding: 40px 0px;
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
    
}

header .logo {
    color: black;
    font-weight: 700;
    font-size: 30px;
    position: relative;
    left: 40px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
}
header .logo:hover {
    color: #4856ec;
}

.navbar {
    display: inline;
    right: 40px;
    position: relative;
    top: 10px;
}

.navbar li {
    display: inline;
    list-style: none;
    float: right;
    
}

.navbar li a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 20px;
    margin-left: 30px;
    transition: all 0.2s ease-in-out;
    font-family: 'Poppins', sans-serif;
    
}

.navbar li a:hover {
    color: rgb(161, 161, 161);
}   

.mappa {
    text-align: center;
    margin-top: 50px;
    display: block;
    z-index: 20000;
}

.contatti {
    text-align: center;
}
.contatti div {
    display: inline-block;
    margin: 50px 50px 0px 50px;
    vertical-align: top;
}

.contatti div img {
    height: 44px;
    width: 44px;
    margin: 0px 10px;
    filter: grayscale(1);
    transition: all 0.3s ease-in-out;
}

.contatti div img:hover {
    filter: grayscale(0);
}