@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

footer {
    background-color: rgb(44, 44, 44);
    font-family: 'Poppins', sans-serif;
    color: white;
    padding: 50px 10px 10px 10px;
}

footer h1 {
    text-align: center;
    font-size: 30px;
}

.contatti {
    text-align: center;
    color: white;
    letter-spacing: 0.5px;
}
.contatti div {
    display: inline-block;
    margin: 50px;
    vertical-align: top;
}

.contatti div img {
    height: 44px;
    width: 44px;
    margin: 0px 10px;
    transition: all 0.3s ease-in-out;
}

.contatti p{
    color: rgb(160, 160, 160);
    font-family: 'Poppins', sans-serif;
}

.crediti {
    text-align: center;
    margin: 0;
}

.crediti p {
    margin-top: 10px;
    font-weight: 300;
    color: white;
    font-family: 'Poppins', sans-serif;
}

footer hr {
    background-color: rgb(70, 70, 70);
    border: none;
    height: 2px;
    margin: 30px;
}

@media screen and (max-width: 588px){
    .contatti div {
        margin: 20px 50px;
    }
}