@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow:hidden;
}

p {
    font-weight: 300;
    color: #111;
}

.banner {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(https://www.teahub.io/photos/full/8-83222_technology-wallpaper-full-hd.jpg);
    background-size: cover;
}

.content{
    text-align: center;
}

.content h2 {
    font-size: 90px;
    color: white;
    margin: 0%;
}

.content p {
    font-size: 20px;
    color: #fff;
    margin: 0px 40px 150px 40px;
    max-width: 1100px;
}

.btn {
    font-size: 15px;
    color: white;
    text-decoration: none;
    background-color: #023e8a;
    padding: 10px 40px;
    border-radius: 2px;
    box-shadow: 0px 0px 10px black;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0247a0;
    box-shadow: 0px 0px 20px black;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 40px;
    z-index: 10000;
    transition: all 0.2s ease-in-out;
}

header .logo {
    color: white;
    font-weight: 700;
    font-size: 30px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar {
    display: inline;
    position: fixed;
    right: 40px;
    
}

.navbar li {
    display: inline;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: 300;
    font-size: 20px;
    margin-left: 15px;
    margin-right: 15px;
    transition: all 0.2s ease-in-out;
    
}


@media screen and (max-width: 500px) 
{
    .content h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 30px;
    }
}